$font-stack: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;
// $primary-color: #e0ffff;
$primary-color: #0e6cff;
$secondary-color: #ff8700;

@function set-text-color($bg-color) {
  @if(lightness($bg-color) >  70) {
    @return #333;
  } @else {
    @return #fff;
  }
}

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
